<div class="home-intro"></div>
    <div class="row justify-content-around">
        <div class="col-md-3" id="charDiv">
            <div class="form-row">
                <div class="form-group">
                    {{!-- drop down populated with characters from database --}}
                    <label for="charSelect">Available Characters</label>
                    <select name="charSelect" id="charSelect" class="form-control">
                        {{#each characters}}
                        {{#dataValues}}
                            <option class="charListItem" data-id="{{id}}">
                                {{name}} - {{race}} - {{class}}
                            </option>
                        {{/dataValues}}
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <div>
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </div>
                </div>
            </div>
        </div>
        {{!-- div to hold generated map from rot.js(or similar) --}}
        <div>
        <div class="form-group col-md-6">
       <script>function showImage(){
        document.getElementById('loadingImage').style.visibility="visible";
        }</script>
            <input type="button" class="btn btn-danger" value="Generate Map" onclick="showImage();"/>
            <img id="loadingImage" src="images/download.png" style="visibility:hidden"/>
                        

        </div>

        {{!-- div to hold "manuals" drop downs for spells/monsters/equipment --}}
        <div class="col-md-3" id="manualsDiv">
            {{!-- form/display for spells --}}
            <div class="form-row">
                <div class="form-group">
                    {{!-- drop down populated with characters from database --}}
                    <label for="spellSelect">Spells</label>
                    <select id="spellSelect" class="form-control">
                        {{#each spells}}
                            {{!-- {{#each results}} --}}
                            <option class="spellItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{!-- {{/each}} --}}
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <div>
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </div>
                </div>
            </div>
            {{!-- form/display for monsters --}}
            <div class="form-row">
                <div class="form-group">
                    {{!-- drop down populated with characters from database --}}
                    <label for="monsterSelect">Monsters</label>
                    <select id="monsterSelect" class="form-control">
                        {{#each monsters}}
                            <option class="monsterItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <div>
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </div>
                </div>
            </div>
            {{!-- form/display for equipment --}}
            <div class="form-row">
                <div class="form-group">
                    {{!-- drop down populated with characters from database --}}
                    <label for="equipSelect">Equipment</label>
                    <select id="equipSelect" class="form-control">
                        {{#each equipment}}
                            <option class="equipItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <div>
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Div to hold dice rolling interface --}}
    <div class="row container justify-content-around">
        
    </div>
                