    <div class="row justify-content-around">
        <div class="col-md-3">
                <div class="boxWrapper" id="charWrapper">
                    {{!-- drop down populated with characters from database --}}
                    <label for="charSelect">Available Characters</label>
                    <select name="charSelect" id="charSelect" class="form-control">
                        {{#each characters}}
                        {{#dataValues}}
                            <option class="charListItem" data-id="{{id}}">
                                {{name}} - {{race}} - {{class}}
                            </option>
                        {{/dataValues}}
                        {{/each}}
                    </select>
                    <table id="charDiv">

                    </table>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <div>
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </div>
                </div>
                <div class="boxWrapper" id="equipWrapper">
                    {{!-- drop down populated with characters from database --}}
                    <label for="equipSelect">Equipment</label>
                    <select id="equipSelect" class="form-control">
                        {{#each equipment}}
                            <option class="equipItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <table id="equipDiv">
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </table>
                </div>
        </div>
        {{!-- div to hold generated map from rot.js(or similar) --}}
        <div>
        <div class="col-md-6" >
            <div class="col-12 boxWrapper" id="mapWrapper">
                {{!-- <canvas id="mapCanvas"></canvas> --}}
                <img id="mapDiv" src=""/>
                <div class="container-fluid">
                    <button type="button" class="btn btn-success ml-auto mr-auto" id="mapBtn">Generate Map!</button>
                </div>
            </div>

            <div class="boxWrapper" id="diceWrapper">
                <form>
                        PLACEHOLDER FOR DICE ROLLING
                </form>
            </div>
                

            {{!-- <form class="justify-content-around boxWrapper" id="mapForm"> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="width">Width</label>
                    <input type="width" class="form-control" id="mapWidth" placeholder="Width">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="height">Height</label>
                    <input type="height" class="form-control" id="mapHeight" placeholder="Height">
                    </div>
                    <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="mapName" placeholder="Map Name">
                    </div> 
                </div>
            </form> --}}
        </div>
        {{!-- div to hold "manuals" drop downs for spells/monsters/equipment --}}
        <div class="col-md-3" id="manualsDiv">
     
                <div class="boxWrapper" id="spellWrapper">
                    {{!-- drop down populated with characters from database --}}
                    <label for="spellSelect">Spells</label>
                    <select id="spellSelect" class="form-control">
                        {{#each spells}}
                            {{!-- {{#each results}} --}}
                            <option class="spellItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{!-- {{/each}} --}}
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <table id="spellDiv">
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </table>
                </div>


                <div class="boxWrapper" id="monsterWrapper">
                    {{!-- drop down populated with characters from database --}}
                    <label for="monsterSelect">Monsters</label>
                    <select id="monsterSelect" class="form-control">
                        {{#each monsters}}
                            <option class="monsterItem" data-url="{{this.url}}">
                                {{this.name}}
                            </option>
                        {{/each}}
                    </select>
                    {{!-- div to be populated by whichever character is selected in dropdown --}}
                    <table id="monsterDiv">
                        {{!-- Will be dynamically populated with javascript on change of the select --}}
                    </table>
                </div>

        </div>
    </div>
    {{!-- Div to hold dice rolling interface --}}
    <script src="js/maps.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

             